@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}
#header4-1 H1 {
  font-family: 'Oswald', sans-serif;
}
#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 46px;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__text SPAN {
  font-family: 'Bitter', serif;
  font-size: 25px;
}
#testimonials1-7 .mbr-section__header {
  font-size: 14px;
}
